@keyframes rotate {
    from {

        transform: rotate(0);
    }
    to {
        transform: rotate(720deg);
    }
}

@keyframes rotateback {
    from {

        transform: rotate(720deg);
    }
    to {
        transform: rotate(0);
    }
}
