$color-gray-medium : rgb(77,77,77) ;
$color-gray-light :  rgb(128,128,128) ;
$color-gray-footer :  rgb(230,230,230) ;
$color-gray-2 : rgb(204,204,204) ;
$color-gray-superlight :  rgb(242,242,242) ;
$color-white : white ;
$color-dark : black ;
$color-blue-dark : #070033 ;
$color-blue-light : #1262FA;
$color-green : #39B24A ;
$color-green-light : #2CC84D ;
$color-red : rgb(255, 28, 28);
$color-red-light : rgb(250, 110, 110);
$color-yellow : rgb(228, 228, 20) ;