.page404 {

    &-box {

        height: 100vh;
        width: 100vw;

        &-background404 {
            height: 100%;
            width: 100%;
            object-fit: cover;

        }
    }
 }