.container {

    position: relative;
    margin: 0 auto ;

    @include respond (phone-ssm) {
        width:90%;
    }

    &-mySlides {
        transition: all .5s;
        position: relative;

        &:not(:first-child) {
            display: none;
        }
        &:hover {
            transform: scale(1.05);
            &::after {
                transform: scale(1.1);
                opacity: 0;
            }
        }

        & img {
            width: 100%;
            border-radius: 1rem;

            @include respond (ul) {
                border-radius: 2rem;
            }
        }

        &:after {
            content: "";
            display: inline-block;
            height: 99%;
            width: 100%;
            background-color: $color-dark;
            opacity: .2;
            position: absolute;
            top: 0;
            left: 0;
            transition: all .4s;
            border-radius: 2rem;
        }
    }

    &-row {
        margin-top: 2rem;
        display: flex;

        @include respond (phone) {
            margin-top: 1rem;
        }
    }

    &-column {
        margin: .2rem;

        @include respond (ul) {
            margin: .4rem;
        }
    }

    &-demo {
        opacity: .4;
        border-radius: .5rem;
        height: 7rem;
        width: 12.7rem;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }

        &:active {
            opacity: 1;
        }
        @include respond (ul) {
            border-radius: 1rem;
            height: 14rem;
        }

        @include respond (phone) {
            height: 3rem;
        }
    }
}


.shop-single {
    margin: 17rem auto 0;
    width: 95vw;
    display: flex;

        @include respond (ul) {
            margin: 34rem auto 0;
        }
        @include respond (tablet) {
            flex-direction: column;
            flex-flow: column-reverse;
            margin: 10rem auto 0;
        }

        &_slideshow {
            height: 100%;
            width: 50%;

            @include respond (tablet) {
                width: 100%;
            }

            &-infobox {
                margin-top: 1rem;
                display: flex;
                width: 35rem;
                color: $color-blue-light;
                align-items: center;

                @include respond (tablet) {
                    width: 25rem;
                }

                &-description {
                    cursor: pointer;
                    padding: .3rem;
                    
                    & h3 {
                        border-bottom:.2rem solid blue;
                    }
                }

                &-System_requirements {
                    cursor: pointer;
                    margin-left: 3rem;
                    padding: .3rem;
                }
            }

            &-contentbox {

                margin-top: 2rem;
                width: 100%;
                height: auto;
                box-shadow: 0 0 .4rem $color-dark;
                border-radius: .5rem;

                & p {
                    padding: .7rem;
                    font-size: 1.6rem;
                }

                &-description {
                    display: block;
                    
                }

                &-System_requirements {
                    display: none;
                }
            }
        }

        &_description {
            height: 100%;
            width: 50%;
            padding: 2rem;

        @include respond (ul){
            padding: 4rem;
        }
        @include respond (tablet){
            width: 100%;
        }
        @include respond (phone) {
            padding: 0;
        }
        

        &-box {
            padding: 3rem;
            height: 100%;
            width: 100%;
            
            @include respond (tablet){
                padding: 1.2rem;
            }
            
            &-name {
                text-align: left;

                @include respond (tablet){
                    
                    text-align:center
                }
            }

            &-price {

                margin: 4rem 0;
                
                @include respond (tablet){
                    
                    text-align:center
                }
            }

            &-quantity {

                display: flex;
                align-items: center;

                &-box {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin-left: 5rem;
                    height: 4.1rem;
                    width: 14.4rem;
                    border: .2rem solid $color-gray-light;
                    border-radius: .9rem;

                    @include respond (ul) {
                        margin-left: 10rem;
                        height: 8.2rem;
                        width: 28.8rem;
                        border: .4rem solid $color-gray-light;
                        border-radius: 1.8rem;
                    }

                    &-minus {
                        padding-bottom: .4rem;
                        padding-left: .4rem;
                        cursor: pointer;

                        @include respond (ul) {

                            padding-top: .6rem;
                            padding-bottom: 1.2rem;
                            padding-left: 1.5rem;
                        }
                    }

                    &-num {
                        overflow: hidden;
                        padding-top: 1rem;
                        text-align: center;
                        width: 6rem;
                        height: 4rem;
                        border-left: .2rem solid $color-gray-light;
                        border-right: .2rem solid $color-gray-light;

                        @include respond (ul) {

                            padding-top: 3rem;
                            text-align: center;
                            width: 12rem;
                            height: 8rem;
                            border-left: .4rem solid $color-gray-light;
                            border-right: .4rem solid $color-gray-light;
                        }

                        @include respond (phone) {
                            padding-top: 1.5rem;
                        }
                    }

                    &-plus {
                        cursor: pointer;
                        padding-right: .4rem;

                        @include respond (ul) {

                            padding-right: 1.5rem;
                        }
                    }

                    
                }
            }

            &-buy_btn {
                cursor: pointer;
                margin: 4rem auto 0;
                background-color: $color-blue-light;
                height: 5.2rem;
                width: 80%;
                border-radius: .9rem;
                display: flex;
                justify-content: center;
                align-items: center;
                transition: background-color .5s;

                &:hover {
                    background-color: $color-green;
                }


                @include respond (ul) {

                    margin-top: 8rem;
                    height: 10.4rem;
                    border-radius: 1.8rem;
                }

                &-shopbox {
                    height: 3.5rem;
                    margin-right: 1rem;

                    @include respond (ul) {

                        height: 7rem;
                        margin-right: 2rem;
                    }
                }

                & h3 {
                    color: $color_white;
                }
            }

            &-game_description {
                margin-top: 3rem;

                @include respond (ul) {
                    margin-top: 6rem;
                }

                & p {
                    font-size: 1.8rem;
                    color: $color-gray-medium;

                    @include respond (ul) {
                        font-size: 3.6rem;
                    }
                }
            }

            &-awards {
                margin-top: 2rem;
                width: 100%;
                width: 100%;

                & img {
                    height: 100%;
                    width: 100%;
                }
            }

            &-icons {

                margin-top: 2rem;

                &-flex {
                    margin: 2rem 0;
                    display: flex;
                    align-items: center;

                    & h4 {
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}





